body{
    font-family: "Lucida Grande","Lucida Sans Unicode", "Lucida Sans", Verdana,Arial,sans-serif;;
}

.container{
    margin:auto;
    padding: 0px;
    width: 1024px;
    text-align: center;
}

.display-sections{
    width: 100%;
    min-height: 750px;
   /* position: absolute; */
    top: 0;
    left: 0;
    padding-top: 30px;
    padding-bottom: 2px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    background: url(../../src/themes/blue-icon/images/content_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: left;
}

.section-experiment{
    margin-left: 45px;
    margin-right: 45px;
}

.head1{
    color: rgb(34,34,34);
    font-weight: 800;
    font-size: 24px;
    padding-bottom: 10px;
}



.data{
    font-size: 16px;
    color: rgb(68,68,68);
    padding:10px;
}

.experiment{
    text-align: center;
}

hr{
    margin-top:30px;
    margin-bottom: 30px;
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray
}

select{
    border-width: 0.5px;
    border-style: solid;
    border-color: color(#767676,#C3C3C3);
    text-align: left;
    zoom:120%;
    color:rgb(68,68,68);
}

#experiment{
    margin-top:100px;
}


#line1,#second-msg{
    color: darkblue;
    font-size: 16px;
    font-weight: 800;
}

#line2,#second-msg2{
    color: rgb(0,0,255);
    font-size: 14px;
}

#experiment-sentence button{
    cursor: pointer;
    margin:10px;
    padding:5px;
}
#formed-sentence{
    font-size: 30px;
    color: #444444;
}