

.start
{
    float:center;
    height:16%;
    width:70%;
    
}

body
{
    background-color: #001a33;
    font-family: "Lucida Grande","Lucida Sans Unicode", "Lucida Sans", Verdana,Arial,sans-serif;; 
    line-height:1.22;
    
}

.head1
{
    float: center;
    font-style:bold;
    box-shadow: 5px #e6f2ff;
    border: 1px solid white;
    padding:30px;
    background-color: rgb(0, 138, 230);
    height: 20px;
    width:70%;
    text-align: left;
}

a
{
text-align: left;
text-decoration: none;
color:white;
font-style:bold;
font-size:20px;
}

#main
{
    
    background-color: #e6f2ff;
    color: #444 ;
    color:#334d4d;
    width:70%;
    text-align: left;
}

ul
{
    
    margin: left;
    list-style-type: none;
    height:5%;
    
    font-color:#2d5986;
}
li
{
        display: inline-block;
        color:#2d5986;
}
h1
{
    margin-bottom: -20px;
    font-size:40px;
    font-family: Cambria;
    padding-left: 20px; 
    color:#444;
    height:5%;
    width:100%;
}

li.a:hover, li.a:active {
 outline: none;
  }

li.a, li.a:active, li.a:visited
 { color:#607890;
  }

li.a:hover{
 color:#036;
  }

 

  li.a, li.a:visited { color: #444 !important; 
          text-decoration: underline; }
div.display-sections,div.data,div.area,select{
   background-color: white;
   margin: 20px; 
    float: center;
    width: 90%;
}

.data{
    font-size: 16px;
    color: #444444;
    padding:10px;
}

.area{
    text-align: center;
}

hr{
    margin-top:30px;
    margin-bottom: 30px;
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray
}

select{
    border-width: 0.5px;
    border-style: solid;
    width: 25%;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    text-align: left;
    zoom:120%;
    color:#444444;
}



#line1, #msg1{
    color: #0000AA;
    font-size: 16px;
    font-weight: 800;
}

#line2, #msg2{
    color: #0000FF;
    font-size: 14px;
}

#experiment-sentence button{
    padding:5px;
}

#experiment-sentence button, #reform-button, #check-correctness, #get-right{
    cursor: pointer;
    margin:10px;
}

#formed-sentence{
    font-size: 30px;
    color: #444444;
}

#right{
    font-size: 30px;
    color: #008000;
}

#wrong{
    font-size: 30px;
    color: #FF0000;
}